/* Write your code here. */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: Roboto;
  font-size: 28px;
  color: #0f172a;
}
.boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .boxes-container {
    display: flex;
    flex-direction: column;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.small-bg {
  background-color: #fbbf24;
  height: 100px;
  width: 100px;
  font-size: 20px;
  color: white;
  font-family: Bree Serif;
  margin-bottom: 15px;
  margin-right: 15px;
}
.medium-bg {
  background-color: #38bdf8;
  height: 150px;
  width: 150px;
  font-size: 20px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: white;
  font-family: Bree Serif;
}
.large-bg {
  background-color: #ec4899;
  height: 200px;
  width: 200px;
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
  margin-right: 15px;
  font-family: Bree Serif;
}
.para {
  color: white;
  font-family: Bree Serif;
  font-size: 20px;
}
